.venv/

__pycache__/
*.pyc
*.safetensors
*.pt
*.pth
*.ckpt
*.bin

.env

datasets/raw/
datasets/processed/
datasets/synthetic/

backend/models/

mlruns/

.ipynb_checkpoints/

.DS_Store
markdown/

tests/